<div class=" d-flex flex-wrap flex-row justify-content-evenly align-items-end mt-4 textBody">
  <!--card Bought -->
  <div class=" d-flex flex-wrap flex-row shadow rounded-4  bg-whight ps-3 pe-5 py-3 ">
  <div class="text-center p-3 rounded-4 bgCart">
    <i class="bi bi-person h3 text-white"></i>
  </div>
  <div class="d-flex flex-column ms-4 justify-content-center ">
    <span class="h5">290</span>
    <small>Bought</small>
  </div>
  </div>
<!-- WichList -->
  <div class=" d-flex flex-wrap flex-row shadow rounded-4  bg-whight ps-3 pe-5 py-3 ">
    <div class="text-center p-3 rounded-4 bgWichList">
      <i class="bi bi-cart3 h3 text-white"></i>
        </div>
    <div class="d-flex flex-column ms-4 justify-content-center ">
      <span  class="h5">90</span>
      <small>WichList</small>
    </div>
  </div>
  <!--Voucher  -->
  <div class=" d-flex flex-wrap flex-row shadow rounded-4  bg-whight ps-3 pe-5 py-3 ">
    <div class="text-center p-3 rounded-4 bgVoucher">
      <i class="bi bi-credit-card-2-front  h-1 text-white"></i>
        </div>
    <div class="d-flex flex-column ms-4 justify-content-center ">
      <span  class="h5">03</span>
      <small>Voucher</small>
    </div>
  </div>

</div>

<div class="rounded-3 shadow bg-white mt-4 mx-4 p-1">
  <!-- header notifications-->
  <div class="border-bottom p-3">
    <p class="h5 text-capitalize">last notifications</p>
  </div>
  <!-- body -->
  <div class="d-flex flex-column flex-wrap">
    <!--  new order  -->
      <div class=" d-flex flex-wrap flex-row  ps-3 pe-5 py-3 justify-content-between">
        <div class=" d-flex flex-wrap flex-row ">
        <div class="text-center py-2 px-3 text-center rounded-4 bgWichList">
          <i class="bi bi-cart3 h3 text-white"></i>
            </div>

        <div class="d-flex flex-column ms-4 justify-content-center ">
          <span class="h5">new order</span>
          <small>new ordernew ordernew order</small>
        </div>

        </div>
        <div>
          <i class="bi bi-clock "></i><span>10 am</span>
        </div>
      </div>

        <!--  new order  -->
        <div class=" d-flex flex-wrap flex-row  ps-3 pe-5 py-3 justify-content-between">
          <div class=" d-flex flex-wrap flex-row ">
          <div class="text-center py-2 px-3 text-center rounded-4 bgCart">
            <i class="bi bi-cart3 h3 text-white"></i>
              </div>

          <div class="d-flex flex-column ms-4 justify-content-center ">
            <span class="h5">new order</span>
            <small>new ordernew ordernew order</small>
          </div>

          </div>
          <div>
            <i class="bi bi-clock "></i><span>10 am</span>
          </div>
        </div>
          <!--  company meeting  -->
      <div class=" d-flex flex-wrap flex-row  ps-3 pe-5 py-3 justify-content-between">
        <div class=" d-flex flex-wrap flex-row ">
        <div class="text-center py-2 px-3 text-center rounded-4 bg-info">
          <i class="bi bi-calendar h3 text-white"></i>
            </div>

        <div class="d-flex flex-column ms-4 justify-content-center ">
          <span class="h5">company meeting</span>
          <small>company meetingcompany meeting</small>
        </div>

        </div>
        <div>
          <i class="bi bi-clock "></i><span>10 pm</span>
        </div>
      </div>
        <!--  support ticket -->
        <div class=" d-flex flex-wrap flex-row  ps-3 pe-5 py-3 justify-content-between">
          <div class=" d-flex flex-wrap flex-row ">
          <div class="text-center py-2 px-3 text-center rounded-4 bgVoucher">
            <i class="bi bi-chat-left-dots h3 text-white"></i>
              </div>

          <div class="d-flex flex-column ms-4 justify-content-center ">
            <span class="h5">support ticket</span>
            <small>support ticketsupport ticket</small>
          </div>

          </div>
          <div>
            <i class="bi bi-clock "></i><span>09 am</span>
          </div>
        </div>
          <!--  new enquiry  -->
      <div class=" d-flex flex-wrap flex-row  ps-3 pe-5 py-3 justify-content-between">
        <div class=" d-flex flex-wrap flex-row ">
        <div class="text-center py-2 px-3 text-center rounded-4 bgWichList">
          <i class="bi bi-envelope h3 text-white"></i>
            </div>

        <div class="d-flex flex-column ms-4 justify-content-center ">
          <span class="h5">new enquiry</span>
          <small>new enquirynew enquirynew enquiry</small>
        </div>

        </div>
        <div>
          <i class="bi bi-clock "></i><span>01 am</span>
        </div>
      </div>
  </div>
</div>
