<div class="mx-5 text-wrap pt-4  pb-3">
  <!-- part one header  -->
  <div class="d-flex flex-row justify-content-between pb-3 ">
    <div>
      <header>Product Detail</header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard"> Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/products/productslist"> Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product Detail</li>
        </ol>
      </nav>
    </div>
    <div>
      <a
        type="button"
        class="buttonAdd btn"
        data-bs-toggle="modal"
        data-bs-whatever="@getbootstrap"
        routerLink="/products/productslist"
      >
        Edit
        </a>
    </div>
  </div>

</div>
