<!-- <div class="container-fluid body col-12 h-100" >
  <div class="d-flex justify-content-center align-items-center text-center">
    <div class="card border-1 rounded-3 shadow-sm mb-3" style="max-width: 18rem;">
      <div class="headerjumia card-header  border-0">Header</div>
      <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent border-success">Footer</div>
    </div>
  </div> -->

<!-- </div> -->
<div
  class="layer bg-light d-flex justify-content-center align-items-center text-center"
>
  <form
    class="row w-25 border-1 rounded-3 bg-white shadow-sm justify-content-center align-items-center text-center"
  >
    <div class="headerjumia border-0 rounded-top p-3"><h2>Jumia</h2></div>
    <div class="card-body text-dark">
      <h5 class="card-title m-4">Log in</h5>
      <div class="col-auto m-4">
        <label for="inputUsername" class="visually-hidden">Username</label>
        <input
          type="text"
          class="form-control rounded-3 body"
          id="inputUsername"
          placeholder="Username"
        />
      </div>
      <div class="col-auto m-4">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input
          type="password"
          class="form-control rounded-3 body"
          id="inputPassword2"
          placeholder="Password"
        />
      </div>
        <div class="">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label ms-2" for="exampleCheck1">Remember me</label
          >
        </div>
        <a class="btn btnprimary m-4 rounded-5 px-4" routerLink="/dashboard" role="button">Log in</a>
    </div>
  </form>
</div>
