<!DOCTYPE html>
<nav class="navbar navbar-expand-lg bg-white border-bottom p-3 ">
  <div class="container-fluid collapse navbar-collapse  d-flex justify-content-end">
    <!-- search input -->
      <div class="col-lg-4 mx-4 me-5 align-content-start">
            <form class="d-flex d-md-block d-none" role="search">
              <input
                class="form-control me-2 rounded-5 h-100 test w-100 bg-light"
                type="search"
                placeholder="search..."
                aria-label="Search"
                id="search"
              />
            </form>
      </div>

      <div class="col-4"></div>

<!-- information admin  -->
<div class="ms-5">
  <div class="collapse navbar-collapse  ms-5 " id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle rounded-5 w-25 h-25" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/Capture.PNG" width="50px" alt="">
        </a>
        <ul class="dropdown-menu dropdown-menu-light rounded-4 border-0 shadow-sm">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

    <!-- the nanotification chat -->
    <button type="button" class="btn position-relative border-0  mx-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="FDFDFD"
        class="bi bi-bell"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
        />
      </svg>
      <span
        class="position-absolute top-0 start-75 translate-middle p-2 bg-danger border border-light rounded-circle"
      >
      </span>
    </button>


  </div>
</nav>
