<div class=" mx-5 text-wrap pt-4  pb-3">

  <!-- header -->
  <div class="d-flex flex-row justify-content-between pb-3">
    <div>
      <header class="h4   ">User Profile</header>
    </div>
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard"> Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/vendors/vendorslist"> Users</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
      </nav>
    </div>
  </div>
<div class="d-flex flex-row bg-white rounded-4 shadow ">
<div class="col-3 border-end p-4">
  <app-subsidbar></app-subsidbar>
</div>
<div  class="col-9">
  <app-subheader></app-subheader>
  <router-outlet></router-outlet></div>
</div>
</div>
