<p>admin-list works!</p>
<!-- the add  newadmin -->
<div class=" d-flex justify-content-evenly  mx-4">
  <!-- Modal to add new admin-->
  <div class="">
    <button
      type="button"
      class="buttonAdd btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      data-bs-whatever="@getbootstrap"
    >
      Add Admin +
    </button>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Admin</h5>
            <button
              type="button"
              class="btn-close test"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- start form -->
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  >Email:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  #us
                />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >Password:</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="recipient-name"
                  #pss
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="buttonAdd btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@getbootstrap"
            >
              Add +
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
