<h4 class="pt-4 ps-5 pb-3">Users</h4>

<div class="bg-white px-4 py-3 mx-5 border-0 rounded-5 shadow-sm">
  <div
    class="d-flex flex-row justify-content-start align-items-center text-center"
  >
    <p class="text-capitalize pt-1 mt-2 textdark">Search:</p>
    <form class="d-flex d-md-block d-none" role="search">
      <input
        class="form-control me-2 rounded-5 test w-auto bg-light textdark"
        type="search"
        placeholder="search..."
        aria-label="Search"
        id="search"
      />
    </form>
  </div>
  <table class="table align-middle">
    <thead>
      <tr class="text-capitalize h6">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Product</th>
        <th scope="col">Total sell</th>
        <th scope="col">status</th>
        <th scope="col">join in</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider p-4">
      <tr class="textdark">
        <td class="py-2 text-capitalize">Mark Otto</td>
        <td class="py-2">Otto@gmail.com</td>
        <td class="py-2">20</td>
        <td class="py-2">2000</td>
        <td class="py-2">Active</td>
        <td class="py-2">1-1-2020</td>
        <td>
          <!-- Example split danger button -->
          <div class="btn-group ">
            <button type="button" class="btn btninfone ">Info</button>
            <button
              type="button"
              class="btn btninfotwo dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <!-- <span class="visually-hidden"></span> -->
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>


            </ul>
          </div>
        </td>
      </tr>
      <tr class="textdark">
        <td class="py-2 text-capitalize">Mark Otto</td>
        <td class="py-2">Otto@gmail.com</td>
        <td class="py-2">20</td>
        <td class="py-2">2000</td>
        <td class="py-2">Active</td>
        <td class="py-2">1-1-2020</td>
        <td>
          <!-- Example split danger button -->
          <div class="btn-group ">
            <button type="button" class="btn btninfone ">Info</button>
            <button
              type="button"
              class="btn btninfotwo dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <!-- <span class="visually-hidden"></span> -->
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>


            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
