<div class="d-flex flex-column border-end text-capitalize activehover">
  <div class="border-bottom p-1">
    <img src="assets/Capture.PNG" alt="jumialogo" />
  </div>
  <!-- go to dashbord component-->
  <div class="border-bottom p-1 d-flex flex-row ps-3">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="bi bi-house-door " routerLinkActive="active"></i> dashboard</a>
  </div>
<!-- go to users list component-->
  <div class="border-bottom ps-3 ">
    <div class="p-1 d-flex flex-row ">
      <a class="nav-link " routerLink="/user" routerLinkActive="active">
        <i class="bi bi-people" routerLinkActive="active"></i> users</a>
    </div>
<!-- go to admin list component-->
    <div class="p-1 d-flex flex-row py-3">
      <a class="nav-link" routerLink="/admin" routerLinkActive="active">
        <i class="bi bi-building" routerLinkActive="active"></i>
        admins</a>
    </div>
    <!-- go to vendor list component -->
    <div class="p-1 d-flex flex-row ">
      <a class="nav-link " routerLink="/vendor" routerLinkActive="active">
        <i class="bi bi-people" routerLinkActive="active"></i> vendors</a>
    </div>
  </div>
</div>
