<h4 class="pt-4 ps-5 pb-3">Users</h4>

<div class="bg-white px-4 py-3 mx-5 border-0 rounded-5 shadow-sm">
<!-- search user and add new user -->
  <div class="d-flex flex-row justify-content-between">
    <!-- search -->
    <div
      class="d-flex flex-row justify-content-start align-items-center text-center"
    >
      <p class="text-capitalize pt-1 mt-2 textdark">Search:</p>
      <form class="d-flex d-md-block d-none" role="search">
        <input
          class="form-control me-2 rounded-5 test w-auto bg-light inputform"
          type="search"
          placeholder="search..."
          aria-label="Search"
          id="search"
        />
      </form>
    </div>
    <!-- the add  user -->
    <div class="d-flex justify-content-evenly mx-4  text-secondary">
      <!-- Modal to add new user-->
      <div class="">
        <button
          type="button"
          class="buttonAdd btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="@getbootstrap"
        >
          Add user +
        </button>

        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg rounded-5">
            <div class="modal-content">
              <!-- header modal -->
              <div class="modal-header">
                <h6 class="modal-title text-capitalize" id="exampleModalLabel">
                  add new user
                </h6>
                <button
                  type="button"
                  class="btn-close test"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- start form -->
                <form>
                  <!-- Upload image -->
                  <div class="col-12 px-4">
                    <div class="input-group mb-3">
                      <input
                        type="file"
                        class="form-control "
                        id="inputGroupFile02"
                      />
                      <label class="input-group-text" for="inputGroupFile02"
                        >Upload</label
                      >
                    </div>
                  </div>
                  <div
                    class="d-flex flex-row  flex-wrap col-12 text-capitalize"
                  >
                    <div
                      class="d-flex flex-column justify-content-evenly col-6 pe-3  ps-4"
                    >
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label"
                          >first name</label
                        >
                        <input
                          type="text"
                          class="form-control rounded-4 py-2 inputform"
                          id="recipient-name"
                          placeholder="amira"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="recipient-userName" class="col-form-label"
                          >user name</label
                        >
                        <input
                          type="text"
                          class="form-control rounded-4 py-2 inputform"
                          id="recipient-userName"
                          placeholder="amiraamin"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="recipient-birthday" class="col-form-label"
                          >birthday</label
                        >
                        <input
                          type="text"
                          class="form-control rounded-4 py-2 inputform"
                          id="recipient-birthday"
                          placeholder="1-1-1991"
                        />
                      </div>
                    </div>
                    <!-- side right -->
                    <div
                      class="d-flex flex-column justify-content-evenly col-6 ps-3 pe-4"
                    >
                      <div class="mb-3">
                        <label for="recipient-nameLast" class="col-form-label"
                          >last name</label
                        >
                        <input
                          type="text"
                          class="form-control rounded-4 py-2 inputform"
                          id="recipient-nameLast"
                          placeholder="amin"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="recipient-email" class="col-form-label"
                          >Email</label
                        >
                        <input
                          type="email"
                          class="form-control rounded-4 py-2 inputform"
                          id="recipient-email"
                          placeholder="example@gmail.com"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="recipient-address" class="col-form-label"
                          >address</label
                        >
                        <input
                          type="text"
                          class="form-control rounded-4 py-2 inputform"
                          id="recipient-address"
                          placeholder="city-street"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer text-center align-items-center">
                    <button
                      type="button"
                      class="btn btn-secondary buttonAdd rounded-5 py-2 px-3"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>

                    <button
                      type="button"
                      class="buttonAdd btn rounded-5 py-2 px-3"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      data-bs-whatever="@getbootstrap"
                    >
                      save contact
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- view users list -->
  <table class="table  table-borderless">
    <thead>
      <tr class="text-capitalize h6 text-secondary">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Product</th>
        <th scope="col">Total sell</th>
        <th scope="col">status</th>
        <th scope="col">join in</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider p-4">
      <tr class="textdark">
        <td class="py-2 text-capitalize" routerLink="/users/userlist/profile">Mark Otto</td>
        <td class="py-2">Otto@gmail.com</td>
        <td class="py-2">20</td>
        <td class="py-2">2000</td>
        <td class="py-2">Active</td>
        <td class="py-2">1-1-2020</td>
        <td>
          <!-- Example split danger button -->
          <div class="btn-group">
            <button type="button" class="btn btninfone">Info</button>
            <button
              type="button"
              class="btn btninfotwo dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <!-- <span class="visually-hidden"></span> -->
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/users/userlist/profile"
                  >profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/users/userlist/edit"
                  >Edit</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/users/userlist/edit"
                  >Delete</a
                >
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr class="textdark">
        <td class="py-2 text-capitalize">Mark Otto</td>
        <td class="py-2">Otto@gmail.com</td>
        <td class="py-2">20</td>
        <td class="py-2">2000</td>
        <td class="py-2">Active</td>
        <td class="py-2">1-1-2020</td>
        <td>
          <!-- Example split danger button -->
          <div class="btn-group">
            <button type="button" class="btn btninfone">Info</button>
            <button
              type="button"
              class="btn btninfotwo dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <!-- <span class="visually-hidden"></span> -->
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
