<div class="p-4">
  <!-- part one header  -->
  <div class="d-flex flex-row justify-content-between ">
    <div>
      <header>Add Product</header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard"> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
      </nav>
    </div>
    <div>
      <a
        type="button"
        class="buttonAdd btn"
        data-bs-toggle="modal"
        data-bs-whatever="@getbootstrap"
        routerLink="/products/productslist"
      >
        View All
      </a>
    </div>
  </div>
  
</div>
